@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}
li img {
display: none;
}  
li a:hover + img {
display: block;
}

td {
height: 200px;
margin:2px;
border: 1px solid rgb(18, 58, 110);
}

tr {
margin:2;
}

/* .img_entry {
   padding-left: 2px;
   padding-right: 2px;
} */

.img_entry img {
    height: 200px;
    display:block;
    margin:auto;
}

.desc_entry p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-right:15x;
}


