<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
</head>

<body style="background-color: rgb(255, 244, 227)">
    <div class=" topcorner">
        <!--<p>Project Name: {{ name }}</p>-->
        <h3 style="font-size: 15px; font-family:Gill Sans; color: grey">
            jfp87, msf239, td334, yx469, jdt98
        </h3>
        <!--<p>Student Name: ({{ netid }})</p>-->
    </div>
    <form class="form-inline global-search">
        <!-- <h1 style="font-size: 55px; font-family:Geneva; color: rgb(18, 58, 110)">
                Stretches
            </h1> -->
        <!-- <br><br> -->



        <h2 style="font-size: 180px; font-family:Gill Sans; color: rgb(18, 58, 110)">
            Flexy.
        </h2>
        <br>
        <h3 style="font-size: 30px; font-family:Gill Sans; color: rgb(18, 58, 110)">
            generate a personalized stretching routine.
        </h3>




        <br><br>

        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control"
                placeholder="body part(s) to target: neck and back">
        </div>
        <div class="form-group">
            <input id="input2" type="text" name="additional" class="form-control"
                placeholder="other requests: equipment required, relaxed, with partner">
        </div>






        <button type="submit" class="btn btn-info"> Go! </button>


        <br>
        <br>
        <h4 style="font-size: 22px; font-family:Gill Sans; color: rgb(18, 58, 110)">Search by Pose!</h4>
        <div class="form-group">
            <input id="input_pose" type="text" name="pose" class="form-control" placeholder="Cat Pose">
        </div>
        <br>


        <br>
        <p>Optional Parameters for Query</p>
        <br>

        <select name="difficulty" id="input_difficulty">
            <option value="Any" selected disabled hidden>
                Select a Difficulty
            </option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate </option>
            <option value="Advanced">Advanced</option>
            <option value="Any">Any Level</option>
        </select>

        <br>




        <!--<h3 style="font-size: 15px; font-family:Gill Sans; color: grey">
            jfp87, msf239, td334, yx469, jdt98
        </h3>-->
    </form>

    {% if data %}
    <h1 align="center" style="font-family:Gill Sans; color: rgb(18, 58, 110)">{{output_message}}</h1>
    <div style="display: flex; flex-direction: column;text-align: center; justify-content:center;">
        {% if success %}
        <!-- There were results generated based on the search query -->
        {% if typos %}
        <!-- Even though some results were found, there were some terms that didn't have results. These are printed in the following div-->
        <div margin=0 align="center" style="font-family:Gill Sans; color: rgb(18, 58, 110);display: inline-block">
            <i>It seems as if some of the body parts you looked up could be mistyped. <br>
                Here are some possible words you could have meant:</i>
            <div
                style="padding-left:0; text-align:center; list-style-position:inside; font-family:Gill Sans; color: rgb(18, 58, 110)">
                {% for typo in potential_typos %}
                <li>
                    <b>{{typo}}</b>
                </li>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <script>
            // add scrolling to view functionality
            function goTo(name) {
                var id = String(name) + "_section";
                console.log(id);
                var element = document.getElementById(id);
                console.log(element);
                element.scrollIntoView(true);
                // (document.getElementById("{{k}}_section")).scrollIntoView(true);
            }

        </script>

        <!-- Print out menu of bp sections and suggested routine given the search -->
        <div margin=0 align="center" style="font-family:Gill Sans; color: rgb(18, 58, 110);display: inline-block">
            <br>
            <i> See all results for
                {% for k in data %}
                &nbsp; <a onclick="(document.getElementById('{{k}}_section')).scrollIntoView(true)">{{k}}</a>
                {% endfor %}
            </i>

            <br><br>
            {% if routine_exists %}
            <i>Here is a suggested routine given your search: <br>
                <ol style="text-align:center; list-style-position:inside; padding-left:0;">
                    {% for i, r in routine %}
                    <li>
                        <!-- <b> <a onclick="(document.getElementById('{{r}}_section')).scrollIntoView(true)"> {{r}}</a> </b> -->
                        <b> <a href={{r.replace(" ", "&")}} name={{r}}>{{r}}</a> </b>
                    </li>
                    {% endfor %}
                </ol>

            </i>

            {% endif %}
            {% if not routine_exists %}
            <i>No routine could be generated. Sorry :(</i>
            {% endif %}
            <br>

            <p id=" prompt-thanks">Are these results helpful?</p>

            <div id="btns-to-hide">
                <button type="button" id="roch-btn-y" onclick="hideshow();">Yes</button>
                <button type="button" id="roch-btn-n" onclick="hideshow();">No</button>
            </div>
            <script type="text/javascript">

                function hideshow() {
                    document.getElementById('btns-to-hide').style.display = 'block';
                    document.getElementById('btns-to-hide').style.display = 'none';
                    document.getElementById('prompt-thanks').innerHTML = "<p>Thank you for your feedback!</p>";
                    $.post('/relevant', { response: 'relevant' });
                }   
            </script>
        </div>



        {% for k in data %}
        <!-- Print out all of the poses that were successfully found -->
        <div margin=0 align="center" style="font-family:Gill Sans; color: rgb(18, 58, 110);display: inline-block">
            <br>
            <h3 id="{{k}}_section">
                <b style="font-size:30px">{{k}}</b>
            </h3>
            <div
                style="padding-left:0; text-align:center; list-style-position:inside; font-family:Gill Sans; color: rgb(18, 58, 110); padding-left: 14%; padding-right: 14%;">
                <table>
                    {% for pose, url, img, video, description in data[k] %}
                    <tr>
                        <td class="pose_entry">
                            <i>Search for more related poses!</i>
                            <br>
                            <b> <a href={{pose.replace(" ", "&")}} name={{pose}}>{{pose}}</a> </b>
                            <i>External Resources</i>
                            <br>
                            <a href={{url}}>{{pose}}</a>
                        </td>
                        <td class="img_entry"><img src=static/yoga_journal_images/{{img}}> </td>
                        <td class="img_entry">
                            <iframe width="420" height="315" src=https://www.youtube.com/embed/{{video}}> </iframe>
                        </td>
                        <td class="desc_entry">
                            <p>{{description}}</p>
                        </td>
                        <td class="desc_entry">
                            <p><a href=/see_more/{{pose.replace(" ", "&")}} name={{pose}}>See more</a></p>
                        </td>
                        <!-- <td>
                            <form>
                                <div class="form-example">
                                    <input type="button" name="relevant" id="relevance" value="Relevant item">
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                            <a href="/"><input type="button" name={{pose}} value="Relevant item"></a>
                            <a href="/irrelevant/{{pose.replace(" ", "&")}}"><input type="button" name={{pose}}
                                    value="Irrelevant item"></a>
                        </td> -->
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if not success and not no_known_typos %}
        <!-- There were no successful results, and only possible typos were found -->
        <div margin=0 align="center" style="font-family:Gill Sans; color: rgb(18, 58, 110);display: inline-block">
            {% for body_part in potential_typos %}
            <li>
                <b>{{body_part}}</b>
            </li>
            {% endfor %}
        </div>
        {% endif %}
        {% if not success and no_known_typos %}
        <!-- The query was so bad, that there weren't even any typos found -->
        <div margin=0 align="center" style="font-family:Gill Sans; color: rgb(18, 58, 110);display: inline-block">
            {{data}}
        </div>
        {% endif %}
        {% endif %}
    </div>
</body>

</html>